@model SistemaUniben.Application.ViewModels.ProdutoViewModel

<h3 class="text-danger text-center">Tem certeza que deseja excluir este Produto ?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			Reg - Nome (Sigla) </dt>
		<dd>
			@Html.DisplayFor(model => model.NumeroRegistro) - @Html.DisplayFor(model => model.Nome) (@Html.DisplayFor(model => model.Sigla)) - @Html.DisplayFor(model => model.DataRegistro)
		</dd>

		<dt>
			Valor (R$)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Valor)
		</dd>

		<dt>
			Porcentagem:
		</dt>
		<dd>
			@Html.DisplayFor(model => model.PorcentagemPrimeiraMensalidade)
		</dd>

		<dt>
			Contratação
		</dt>
		<dd>
			@Html.DisplayFor(model => model.TipoContratacao)
		</dd>
		<dt>
			Segmentação Assistencial
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AbrangenciaGeografica) / @Html.DisplayFor(model => model.Acomodacao) / 
			@if(Model.Coparticipacao)
			{
				<span>Coparticipativo</span>
			}
			else
			{
				<span>Sem Coparticipação</span>
			}
		</dd>

		<dt>
			Parentesco Permitido:
		</dt>

		<dd>
			@Html.DisplayFor(model => model.GrauParentescoPermitido)
		</dd>

		<dt>
			Observações:
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Observacao)
		</dd>
	</dl>
</div>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		<button type="submit" class="btn btn-danger">Excluir</button>
	</div>
}