@model SistemaUniben.Application.ViewModels.ProdutoViewModel

@using (Html.BeginForm("Edit", "Produto", 
	new { ReturnUrl = ViewBag.ReturnUrl }, 
	FormMethod.Post, new { @class="form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProdutoId)
	    
	<div class="form-group row">
		<div class="input-group col-md-12">
			<div class="input-group-addon">Nome</div>
			@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
		</div>
	</div>
		
	    
	<div class="form-group row">
		<div class="input-group col-md-12">Registro na ANS</div>
		<div class="input-group col-md-4">
			<div class="input-group-addon">Sigla</div>
			@Html.EditorFor(model => model.Sigla, new {htmlAttributes = new {@class = "form-control"}})
			@Html.ValidationMessageFor(model => model.Sigla, "", new {@class = "text-danger"})
		</div>

		<div class="input-group col-md-4">
			<div class="input-group-addon">Número</div>
			@Html.EditorFor(model => model.NumeroRegistro, new {htmlAttributes = new {@class = "form-control"}})
			@Html.ValidationMessageFor(model => model.NumeroRegistro, "", new {@class = "text-danger"})
		</div>

		<div class="input-group col-md-4">
			<div class="input-group-addon">Data</div>
			@Html.EditorFor(model => model.DataRegistro, new {htmlAttributes = new {@class = "form-control"}})
			@Html.ValidationMessageFor(model => model.DataRegistro, "", new {@class = "text-danger"})
		</div>
	</div>


	<div class="form-group row">
		<div class="input-group col-md-12">Informações financeiras</div>
		<div class="input-group col-md-4">
			<div class="input-group-addon">Valor (R$)</div>
			@Html.EditorFor(model => model.Valor, new {htmlAttributes = new {@class = "form-control"}})
			@Html.ValidationMessageFor(model => model.Valor, "", new {@class = "text-danger"})
		</div>
		<div class="input-group col-md-3">
			<div class="input-group-addon"> %</div>
			@Html.EditorFor(model => model.PorcentagemPrimeiraMensalidade, new {htmlAttributes = new {@class = "form-control"}})
			@Html.ValidationMessageFor(model => model.PorcentagemPrimeiraMensalidade, "", new {@class = "text-danger"})
		</div>
		<div class="input-group col-md-5">
			<div class="input-group-addon">Tipo</div>
			<select name="TipoContratacao" class="form-control">
				<option value="@Html.DisplayFor(model => model.TipoContratacao)" selected>@Html.DisplayFor(model => model.TipoContratacao)</option>
				@foreach (string tipo in ViewBag.listas.TipoContratacao)
				{
					<option value="@tipo">@tipo</option>
				}
			</select>
			@*@Html.EditorFor(model => model.TipoContratacao, new { htmlAttributes = new { @class = "form-control" } })*@
			@Html.ValidationMessageFor(model => model.TipoContratacao, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group row">
		<div class="input-group col-md-12">Coparticipação</div>
		<div class="input-group col-md-12">
			<input type="hidden" name="Coparticipacao" value="@Html.DisplayTextFor(model => model.Coparticipacao)" class="coparticipacao-field"/>
			<input id="com-btn" type="button" class="coparticipacao-btn" value="Com coparticipação"/>
			<input id="sem-btn" type="button" class="coparticipacao-btn" value="Sem coparticipação"/>
		</div>
	</div>

	@*<div class="col-md-12 checkbox">
		Coparticipação @Html.CheckBoxFor(model => model.Coparticipacao)
	</div>*@

	

	<div class="form-group row">
		<div class="input-group col-md-12">Segmentação assistencial</div>
		<div class="input-group col-md-6">
			<div class="input-group-addon">Abrangência</div>
			<select name="AbrangenciaGeografica" class="form-control">
				<option value="@Html.DisplayFor(model => model.AbrangenciaGeografica)" selected>@Html.DisplayFor(model => model.AbrangenciaGeografica)</option>
				@foreach (string item in ViewBag.listas.AbrangenciaGeografica)
				{
					<option value="@item">@item</option>
				}
			</select>

			@*@Html.EditorFor(model => model.AbrangenciaGeografica, new { htmlAttributes = new { @class = "form-control" } })*@
			@Html.ValidationMessageFor(model => model.AbrangenciaGeografica, "", new { @class = "text-danger" })
		</div>
		<div class="input-group col-md-6">
			<div class="input-group-addon">Acomodação</div>
			<select name="Acomodacao" class="form-control">
				<option value="@Html.DisplayFor(model => model.Acomodacao)" selected>@Html.DisplayFor(model => model.Acomodacao)</option>
				@foreach (string item in ViewBag.listas.Acomodacao)
				{
					<option value="@item">@item</option>
				}
			</select>
			@*@Html.EditorFor(model => model.Acomodacao, new { htmlAttributes = new { @class = "form-control" } })*@
			@Html.ValidationMessageFor(model => model.Acomodacao, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group row">
		<div class="input-group col-md-12">Grau de parentesco permitido</div>
		<div class="input-group col-md-12">
			<input name="GrauParentescoPermitido" type="hidden" value="@Html.DisplayFor(model => model.GrauParentescoPermitido)" class="form-control parentesco-field"/>
			
			@foreach (string item in ViewBag.listas.GrauParentescoPermitido)
			{
				<input name="GrauParentesco" type="button" value="@item" class="parentesco-btn" data-nome="@item" />
			}
			
			@*@Html.EditorFor(model => model.GrauParentescoPermitido, new { htmlAttributes = new { @class = "form-control" } })*@
			@Html.ValidationMessageFor(model => model.GrauParentescoPermitido, "", new { @class = "text-danger" })
		</div>
	</div>		
	   

	<div class="form-group row">
		<div class="input-group col-md-12">Observações</div>
		<div class="input-group col-md-12">
			@Html.TextAreaFor(model => model.Observacao, new {htmlAttributes = new {@class = "form-control"}})
			@Html.ValidationMessageFor(model => model.Observacao, "", new {@class = "text-danger"})
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">Criado em: @Html.DisplayFor(model => model.DataCadastro)</div>
		<div class="col-md-4 text-right">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
	</div>
    
}
