@model IEnumerable<SistemaUniben.Application.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Produtoss";
}

<ol class="breadcrumb">
	<li><a href="/Home/Index">Principal</a></li>
	<li class="active">Lista de produtos</li>
</ol>

<div class="well well-sm">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Buscar">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
		</span>
	</div>
</div>


<div class="container">
	<div class="row text-primary table-striped">
		<div class="col-md-3">Nome</div>
		<div class="col-md-3">Tipo</div>
		<div class="col-md-4">Seg. Assistencial</div>
		<div class="col-md-2"></div>
	</div>
	<hr/>
	@foreach (var item in Model) {
		<div class="row row-striped">
			<div class="col-md-3">
				@Html.DisplayFor(modelItem => item.Nome) (@Html.DisplayFor(modelItem => item.Sigla))
			</div>
			<div class="col-md-2">
				@Html.DisplayFor(modelItem => item.TipoContratacao)
			</div>
			<div class="col-md-5">
				@Html.DisplayFor(modelItem => item.AbrangenciaGeografica) / @Html.DisplayFor(modelItem => item.Acomodacao) /
				@if(item.Coparticipacao)
				{
					<span>Coparticipativo</span>
				}
				else
				{
					<span>Sem Coparticipação</span>
				}
			</div>
			<div class="col-md-2 text-right">
				<div class="btn-group" role="group" aria-label="...">
					<a href="#" data-toggle="modal" data-target="#modal-edit" data-url="@Url.Action("Edit", "Produto", new {id = item.ProdutoId})">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
					<a href="#" data-toggle="modal" data-target="#modal-delete" data-url="@Url.Action("Delete", "Produto", new {id = item.ProdutoId})">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
			</div>	
		</div>
	}
</div>

<hr />

<div class="row">
	<div class="col-md-6 text-center">
		
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>

	</div>
	<div class="col-md-6 text-right">
		<a href="#" data-toggle="modal" data-target="#modal-create" class="btn btn-primary">
			Adicionar novo Produto
		</a>
		@*@Html.ActionLink("Adicionar novo Produto", "Cadastro", null, new {@class = "btn btn-primary"})*@
	</div>
</div>

<!-- MODAL PARA O DELETE-->
@{ Html.RenderPartial("DeleteModal");}

<!-- MODAL PARA O EDIT-->
@{ Html.RenderPartial("EditModal");}

<!-- MODAL PARA O CREATE-->
@{ Html.RenderPartial("CreateModal");};